<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34149800787-c01gou6l06qor6q0bcfpvm3ccp980sil.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34149800787-c01gou6l06qor6q0bcfpvm3ccp980sil</string>
	<key>API_KEY</key>
	<string>AIzaSyAFmOV9x5vLd32ZMRdxjy2CBpS-13BfkpY</string>
	<key>GCM_SENDER_ID</key>
	<string>34149800787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Crawtech.PollApp</string>
	<key>PROJECT_ID</key>
	<string>pollsapp-2463c</string>
	<key>STORAGE_BUCKET</key>
	<string>pollsapp-2463c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34149800787:ios:72885d4c19bb2ab2</string>
	<key>DATABASE_URL</key>
	<string>https://pollsapp-2463c.firebaseio.com</string>
</dict>
</plist>